{% extends 'site/_layout/master.html.twig' %}

{% block content %}
    <div class="container-fluid main-content home-main border-top-brown">
        <section class="row meet-our">
            <article class="col-md-6 article bg-white">
                <h3>Poznaj naszą kawiarnie</h3>
                <p>
                    Kawiarnia Kaff to wyjątkowe miejsce.
                    Działamy od 2000 roku w Zabrzu, wcześniej posiadaliśmy filię w Gliwicach.
                </p>
                <p>
                    W naszej kawiarni stawiamy na świeżość i jakość produktów,
                    a Państwa zadowolenie stawiamy na pierwszym miejscu.
                </p>
                <p>Kawiarnia jest przyjazna dla każdego: </p>
                <ul class="text-start">
                    <li>Na szybką kawę ze znajomymi,</li>
                    <li>na spotkanie biznesowe,</li>
                    <li>na imprezy okolicznościowe,</li>
                    <li>czy na inną dowolną okazję. :)</li>
                </ul>
                <a class="btn btn-primary text-uppercase mb-5" href="{{ path('site_localisation') }}">Lokalizacja</a>
            </article>
            <div class="col-md-6 aside-img">
            </div>
        </section>
        <section class="row atmosphere">
            <div class="col-md-6 order-md-1 order-2 aside-img">
            </div>
            <article class="col-md-6 order-md-2 article bg-white">
                <h3>Atmosfera jest ważna</h3>
                <p>
                    Chcemy abyście czuli się u nas swobodnie.
                    To miejsce idealne do pracy zdalnej czy zwykłego posiedzenia przy delektacji kawy.
                </p>
                <p>
                    Zjecie tu desery, wypijecie wspaniałe kawy speciality, a tekże doznacie spokoju ducha.
                    Czuj się tu jak w domu - zrelaksuj się z nami!
                </p>
                <p>W przyszłości zadbamy o letni ogródek z wielką ilością kwiatów.</p>
                <a class="btn btn-primary text-uppercase mb-5" href="{{ path('site_table_reservation') }}">Zarezerwuj stolik</a>
            </article>
        </section>
    </div>
{% endblock %}