{% extends 'site/_layout/master.html.twig' %}

{% block content %}
    <div class="container-fluid main-content location-main" id="scroll-to-container">
        <div class="row border-top-brown">
            <section class="col-md-6 p-5">
                <div class="row">
                    <div class="col-xl-12 text-center mt-5">
                        <h3>Kawiarnia Kaff</h3>
                    </div>
                </div>
                <div class="row px-md-5">
                    <article class="col-xl-6 mt-5 text-xl-start">
                        <ul class="p-0">
                            <li>
                                poniedziałek 09:00-21:00
                            </li>
                            <li>
                                wtorek 09:00-21:00
                            </li>
                            <li>
                                środa 09:00-21:00
                            </li>
                            <li>
                                czwartek 09:00-21:00
                            </li>
                            <li>
                                piątek 09:00-22:00
                            </li>
                            <li>
                                sobota 09:00-22:00
                            </li>
                            <li>
                                niedziela 09:00-22:00
                            </li>
                        </ul>
                    </article>
                    <div class="col-xl-6 mt-5 text-xl-end">
                        <ul>
                            <li>
                                Kawiarnia Kaff
                            </li>
                            <li>
                                ul. 3go Maja 11/11
                            </li>
                            <li>
                                41-800 Zabrze
                            </li>
                        </ul>
                        <ul class="mt-5">
                            <li class="a-inherit">
                                <a href="mailto:kontakt@kaff.pl">kontakt@kaff.pl</a>
                            </li>
                            <li class="a-inherit">
                                <a href="tel:+48123123123">+48 123 123 123</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-xl-12 border border-dark p-0">
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1515.417397860918!2d18.784882330452326!3d50.299056049119024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4711326a2ae27e3b%3A0xcefff38a1407b649!2sMuzeum%20G%C3%B3rnictwa%20W%C4%99glowego!5e0!3m2!1spl!2spl!4v1606318974067!5m2!1spl!2spl"
                                width="100%" height="100%" frameborder="0" allowfullscreen=""
                                aria-hidden="false" tabindex="0" class="col">
                        </iframe>
                    </div>
                </div>
            </section>

            <section class="col-md-6 d-none d-md-block location-bg"></section>
        </div>
    </div>
{% endblock %}