{% extends 'site/_layout/master.html.twig' %}

{% block content %}
    <div class="main-content border-top-brown">
        <section class="work-section">
            <article class="container-fluid slogan-container">
                <div class="row">
                    <div class="col">
                        <h3 class="container-title quote">"Kawa to kawa, powinna być czarna i gorzka jak smar do czołgu"
                        </h3>
                    </div>
                </div>
            </article>
            <article class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2>Dołącz do nas! Poszukujemy osób na stanowisko: Barista</h2>
                    </div>
                    <div class="col-xs-12">
                        <p>
                            Lubisz pracę z ludźmi? Jesteś energiczną osobą i chcesz pracować w zgranym i dynamicznym
                            zespole
                            pełnym pasji? Barista
                            powinien dobrać odpowiednie gatunki i kawy tak, aby powstał napój zgodny z oczekiwaniami
                            klienta Do
                            obowiązków
                            baristy należy: podanie kawy tak, aby wyeksponować jej smak i aromat Czujesz, że to praca
                            dla
                            Ciebie? Napisz
                            do nas mailowo lub złóż CV osobiście! :)
                        </p>
                    </div>
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-primary text-uppercase contact-btn" href="contact.html">Kontakt</a>
                    </div>
                </div>
            </article>
            <article class="container-fluid slogan-container position-bottom border-top-brown">
                <div class="row">
                    <div class="col">
                        <h3 class="container-title quote">"Kawa to diabelski nektar. Jest wstrętna, niezdrowa i zniewala
                            pół świata."</h3>
                    </div>
                </div>
            </article>
        </section>
    </div>
{% endblock %}