{% extends 'site/_layout/master.html.twig' %}

{% block content %}
    <div class="container-fluid" id="scroll-to-container">
        <div class="row contact-row-bg border-top-brown">
            <article class="col-3 d-none d-md-block"></article>
            <section class="col-12 col-md-6 text-center p-lg-5">
                <h3 class="p-3">Historia rezerwacji</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Data</th>
                            <th scope="col">Godzina</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if table_reservations is empty %}
                            <tr>
                                <th colspan="5">Brak rezerwacji!</th>
                            </tr>
                        {% else %}
                            {% for table_reservation in table_reservations %}
                                <tr>
                                    <th scope="row">{{ loop.length - loop.index0 }}</th>
                                    <td>{{ table_reservation.dateFrom|date('d.m.Y') }}</td>
                                    <td>{{ table_reservation.dateFrom|date('H:i') }}</td>
                                    <td>{{ table_reservation.status.label }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </section>
            <article class="col-3 d-none d-md-block"></article>
        </div>
    </div>
{% endblock %}